<div class="recipe-detail-container">
    <div class="row">
        <div class="col-xs-12" style="text-align: center;margin-top: 10px;
        margin-bottom: 10px;">
            <img [src]="recipeInfo.imagePath" alt="recipeInfo.name" class="img-responsive" style="max-height: 400px; max-width: 70%;margin-left: 15%;margin-right: 15%;border-radius: 5px;">
        </div>
    </div>
    <div class="inline-row">
        <div class="row">
            <div class="col-xs-12" >
                <h3>{{ recipeInfo.name }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div class="btn-group" appDropdown >
                    <button class="btn btn-primary dropdown-toggle" >Manage Recipe <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a (click)="addToShoppingList()">Add to Shopping List</a></li>
                        <li><a href="#">Edit Recipe</a></li>
                        <li><a href="#">Remove Recipe</a></li>
                    </ul>
                </div>
            </div>
        </div><br>
        <div class="row">
            <div class="col-xs-12">
                <p>{{recipeInfo.desciption}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h4 style="font-weight: 550;letter-spacing: .2px;">Ingredients</h4>
                <ul class="list-group">
                    <li 
                    class="list-group-item"
                    *ngFor="let ingredient of recipeInfo.ingredient">
                        {{ingredient.name}} - {{ingredient.amt}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>